{% extends 'main/base.html' %}

{% block title %}Cars{% endblock %}

{% block name %}Product{% endblock %}


{% block content %}
  <main>
    <section>
      <h2>Product page</h2>
        {% for i in car_list %}
            <h5>{{ i.model }}</h5>
            <img src="{{ i.img.url }}" width="300px" alt="">
            <p>{{ i.price }}</p>
            <form action="{% url 'cart' %}" method="post">
                {% csrf_token %}
                <button type="submit" name="id" value="{{ i.id }}">Add to Cart</button>
            </form>
        {% endfor %}
    </section>
  </main>
{% endblock %}

